/* global */
@import url('https://fonts.googleapis.com/css?family=Times');



body{
    margin: 0;
    padding: 0;
    font-family: 'Times', serif;
    background-color: #ffffff;
    color: #000000;

}

a{
    color: #000000;
    text-decoration: none;
    font-family: 'Times', serif;
}

p{
    margin:5px;
    color: #000000;
    font-family: 'Times', serif;
    text-align: justify;
}

h1 {
    align-self: center;
    color: #007878;
    font-family:Work Sans, Arial,monospace;
    font-size: 200%;
  }
  h2 {
    color: #007878;
    font-family:Work Sans, Arial,monospace;
    font-size: 200%;
  }
  h3{
    color: #000000;
    font-family:Work Sans, Arial, sans-serif;
    font-size: 200%;
  }

  #zero {
    position: absolute;
  }
  


/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
